%h2 Länkar

%ul
  %li
    = link_to 'Ruby Syntax', 'http://www.zenspider.com/Languages/Ruby/QuickRef.html'
  %li
    = link_to 'Rails Guides', 'http://guides.rubyonrails.org/'

%h2 Översikt

%p Titta i bash fönstret, se att requests loggas.

%pre.bg-info
  cat log/development.log
  cat .gitignore
  cat config/database.yml

%p Dessa filer har inte vi skapat, de autogenererades med mycket av innehållet du ser. Ett designmål för Rails har varit "Convention over configuration".

%p Jämför med web/MVC ramverk du har tidigare erfarenhet från. Lika enkelt att komma igång? Lika enkelt att ändra conf?

%p Byt startsida från "instruktioner" till sidan som listar läkare. Det gör man i filen config/routes.rb

%p Pröva lägga till en ny sida. För det behöver du en action (i valfri existerande controller), en view samt ett entry i config/routes.rb. Pröva även länka till den nya sidan från andra sidor.

%p Tips:
%pre.bg-info
  bin/rake routes

%p Kör:

%pre.bg-info
  bin/rspec

%p Läkarna ska få en specialisering. Tips: rails generate migration. alter table, add t.string :specialization

%pre.bg-info
  bin/rake db:migrate
  bin/rake db:rollback #Om du vill ändra något
  bin/rake db:migrate

%p Observera output, kör git diff.

%p git add migration, schema. git Commit. (Schema kan kännas redundant, men: enklaste stället att kolla upp modellen, används om man vill sätta upp test db.)

%pre.bg-info
  bin/rake -T # Listar alla tasks
  bin/rails c # Starta rails console. Pröva olika finders på Doctor modellen.

%p Pröva logga in på Postgres (lösenord finns i database.yml) och lägg till fält på exvis Doctor. Starta rails console igen och hitta en existerande Doktor eller skapa en ny icke-persisterad med Doctor.new. Ditt nya värde bör synas som attribut på modellen.

%pre.bg-danger
  Fundera/diskussionsövning - hur känns det jämfört med andra web-ramverk? Modell beror på db, inte på |
  schema eller source filer. Bra/dåligt?

%h2 Validators, named scopes.

Läs på om validering, inbyggd och custom. Pröva att få failande specs angående det att gå igenom.

%h2 Named scopes

%p Skapa patienter.

%p Tips:

%pre.bg-info
  bin/rails generate scaffold patients

%p Lägg till en relation så att läkare har många patienter. Skapa ett named scope så man kan få fram läkare som inte har några patienter.

%h2 "Many to many" relation

Skapa en många till många relation, exvis mellan sjukhus och läkare.

%h2 Polymorphic belongs to

Skapa address modell. Sjukhus, läkare och patienter har address.

%h2 Heroku deployment

%p
  Heroku tillhandahåller gratis s.k "dynos" för bl.a labbar som dessa.

  %p För att kunna produktionssätta appen behöver du:

  %ul
    %li= link_to 'Herokukonto', 'https://signup.heroku.com'
    %li= link_to 'Heroku toolbelt', 'https://toolbelt.heroku.com/'

  %pre.bg-info
    = "heroku create appnamn --region eu # \"appnamn\" måste vara unikt<br/>".html_safe
    = "git push heroku master<br/>".html_safe
    = "heroku run rake db:migrate<br/>".html_safe
    = "heroku info"

  %p Appen finns tillgänglig på adressen "Web URL"

  %p= link_to 'Detaljerade instruktioner på Heroku devcenter', 'https://devcenter.heroku.com/articles/getting-started-with-rails4#deploy-your-application-to-heroku'

  %p Tips:

  %pre.bg-info
    heroku logs -t
  (visa logg på samma sätt som i utvecklingsmiljön)


%h2 Image attachments

Lägg till en profilbild för varje läkare med hjälp av
= link_to 'paperclip', 'https://github.com/thoughtbot/paperclip#quick-start'

%h2 Javascript

JQuery är inbyggt, pröva att lägga till testmetoder i helpers. Lägg till nytt javascript lib i asset-pipeline.
