= simple_form_for(@hospital, html: { class: 'form-horizontal' }) do |f|
  = f.input :name, label: "Namn"
  - if @hospital.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hospital.errors.count, "error")} prohibited this hospital from being saved:"
      %ul
        - @hospital.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'