%h1 Listing hospitals

%table
  %thead
    %tr
      %th Namn
      %th
      %th
      %th

  %tbody
    - @hospitals.each do |hospital|
      %tr
        %td= hospital.name
        %td= link_to 'Show', hospital
        %td= link_to 'Edit', edit_hospital_path(hospital)
        %td= link_to 'Destroy', hospital, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Hospital', new_hospital_path
