<%= simple_form_for(@doctor, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.input :first_name, label: "Förnamn" %>
  <%= f.input :last_name, label: "Efternamn" %>
  <%= f.input :age, label: 'Ålder' %>
  <%= f.input :quote, label: 'Inspirerande citat' %>

  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> förhindrade doctorn från att sparas:</h2>

      <ul>
        <% @doctor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Uppdatera doctor", class: "btn btn-success" %>
  </div>
<% end %>

