<!DOCTYPE html>
<html>
<head>
  <title>Mejsla</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Sjukhuset</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">

                <%= navbar_list_item 'Instruktioner', instructions_path %>
                <%= navbar_list_item 'Läkare', doctors_path %>
                <%= navbar_list_item 'Sjukhus', hospitals_path %>

              </ul>
          </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
</nav>


<div id="main-container" class="container">
    <div class="row">

        <div class="col-xs-3">
            <% flash.each do |key, value| %>
                <div class="<%= flash[key] %>">
                    <%= value %>
                </div>
            <% end %>
        </div>

        <div class="col-xs-9">
            <%= yield %>
        </div>
    </div>
</div>

</body>
</html>
